* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}


img{
   // width: 100%;
    display: block;
}
header {
    height: 45px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 10px;
}
a{
    color: inherit;
}
footer {
    height: 50px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    >a {
        flex: 1;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding: 5px 0;
        span:nth-child(1){
            font-size: 22px;
        }
        span:nth-child(2){
            font-size: 14px;
        }
    }
}

.view {
    height: 100%;
    overflow: scroll;
}
// 使用伪元素实现遮罩层
// .wait{
//     //遮罩层
//     &::before{
//         content: "";
//         position: fixed;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         background-color: red;
//         opacity: .8;
//         z-index: 123;
//     }
//     //图标
//     &::after{
//         animation: fa-spin 2s infinite linear;
//         display: inline-block;
//         font: normal normal normal 14px/1 FontAwesome;
//         font-size: 78px;
//         text-rendering: auto;
//         -webkit-font-smoothing: antialiased;
//         content: "\f110";
//         position: fixed;
//         top: 50%;
//         left: 50%;
//         color: pink;
//         z-index: 321;
//     }
// }
.wait{ 
    &::before {
      content: "";
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #fff;
      opacity: .7;
      z-index: 1000;
    } // 页面加载中的小图标
    &::after {
      animation: fa-spin 2s infinite linear;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 70px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      content: "\f110";
      position: fixed;
      top: 30%;
      left: 50%;
      margin-left: -35px;
      z-index: 1001;
      color: #333; 
    }
    // background-color: red;
    // padding: 100px;
  }