<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <title>index.html</title>
    <link rel="stylesheet" href="/lib/mui/css/mui.css">
    <link rel="stylesheet" href="/lib/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/inde.css">
</head>

<body class="wait">
    
    <header>
        <div class="mui-input-row mui-search">
            <input type="search" class="mui-input-clear" placeholder="">
        </div>
    </header>
    <div class="view">
        <!-- 轮播图 -->
        <div class="slider">
            <div class="mui-slider">

                <!-- 轮播图占坑 -->

            </div>
        </div> 
        <!-- 首页导航 -->
        <div class="index_nav">
            
        </div>
        <!-- 商品列表 -->
        <div class="goodlist">

        </div>
    </div>
    <footer>
        <a href="javascript:;">
            <span class="fa fa-home"></span>
            <span>首页</span>
        </a>
        <a href="/page/category.html">
            <span class="fa fa-list-ul"></span>
            <span>分类</span>
        </a>
        <a href="/page/register.html">
            <span class="fa fa-shopping-cart"></span>
            <span>购物车</span>
        </a>
        <a href="javascript:;">
            <span class="fa fa-user"></span>
            <span>首页</span>
        </a>
    </footer>
</body>
<script src="/lib/mui/js/mui.js"></script>
<script src="/lib/arttemplate/template-web.js"></script>
<script src="/lib/zepto/zepto.js"></script>
<script src="/js/common.js"></script>
<script src="/js/index.js"></script>
<!-- 轮播图模板 -->
<script type="text/template" id="tempslider">
    <div class="mui-slider-group mui-slider-loop">
        <!--支持循环，需要重复图片节点-->
        <div class="mui-slider-item mui-slider-item-duplicate">
            <a href="#">
                <img src="{{data[data.length-1].image_src}}" />
            </a>
        </div>
        {{each data value index}}
        <div class="mui-slider-item">
            <a href="#">
                <img src="{{value.image_src}}">
            </a>
        </div>
        {{/each}}
        <!--支持循环，需要重复图片节点-->
        <div class="mui-slider-item mui-slider-item-duplicate">
            <a href="#">
                <img src="{{data[0].image_src}}" />
            </a>
        </div>
    </div>

    <!-- 索引器 -->
    <div class="mui-slider-indicator">
        {{each data value index}} {{if index==0}}
        <div class="mui-indicator mui-active"></div>
        {{/if}} {{if index!=0}}
        <div class="mui-indicator"></div>
        {{/if}} {{/each}}
    </div>

</script>
<!-- 首页导航模板 -->
<script type="text/template" id="tempnav">
    {{each data value index}}
    <a href="javascript:;">
            <img src="{{value.image_src}}" alt="">
        </a>
{{/each}}
</script>
<!-- 首页列表模板 -->
<script type="text/template" id="tempcontent">
{{each data value index}}

            <div class="goods_group">
                <div class="goodstitle">
                    <img src="{{value.group_img}}" alt="">
                </div>
                <ul class="goodscontent">
                    {{each value.goods value2 index2}}
                    <li>
                        <a href="javascript:;" class="item_des">
                            <img src="{{value2.goods_small_logo}}" alt="">
                            <div class="goods_name">{{value2.goods_name}}</div>
                            <div class="goods_price">￥ {{value2.goods_price}}</div>
                        </a>
                        <div class="item_like">
                            <a href="javascript:;" class=" mui-btn mui-btn-primary mui-btn-outlined">
                                找相似
                            </a>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
{{/each}}
</script>
</html>